extends layout/layout
block css

block content
  .media
    a.pull-left(href='#')
      img.media-object(src='http://placekitten.com/150/150')
    .media-body
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet bibendum nulla. Integer porta ornare lacus, at molestie lacus ornare non. Praesent at erat et lorem suscipit aliquam ac sit amet nunc. Nullam felis ligula, dignissim interdum velit non, consequat aliquet nulla. Aenean mollis augue at elit aliquet congue. In rhoncus mi quis lacus maximus commodo quis id enim. Praesent aliquam ligula non enim efficitur cursus. In id semper ex. Donec pharetra auctor nulla. Mauris nec vestibulum mauris. Vivamus sollicitudin ornare sollicitudin. Sed mollis mauris quis leo iaculis gravida. Ut vehicula ligula id commodo ultricies. Curabitur felis augue, placerat id ornare in, mollis nec eros. Quisque finibus porttitor hendrerit. Fusce ultrices porta erat id ultrices.
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet bibendum nulla. Integer porta ornare lacus, at molestie lacus ornare non. Praesent at erat et lorem suscipit aliquam ac sit amet nunc. Nullam felis ligula, dignissim interdum velit non, consequat aliquet nulla. Aenean mollis augue at elit aliquet congue. In rhoncus mi quis lacus maximus commodo quis id enim. Praesent aliquam ligula non enim efficitur cursus. In id semper ex. Donec pharetra auctor nulla. Mauris nec vestibulum mauris. Vivamus sollicitudin ornare sollicitudin. Sed mollis mauris quis leo iaculis gravida. Ut vehicula ligula id commodo ultricies. Curabitur felis augue, placerat id ornare in, mollis nec eros. Quisque finibus porttitor hendrerit. Fusce ultrices porta erat id ultrices.
block scripts
